body{
    background-color: #F5F3F3;
    user-select: none;
}
.container{
    width: 100vw;
    overflow: hidden;
}

.container > div:nth-child(2){
    display: grid;
    grid-template-columns:  10% 300px auto 10%;
    grid-template-rows: auto 100px;
    grid-gap: 20px;
    width: 100%;
    overflow: hidden;
}

.sorting-tab{
    position: absolute;
    top: 100px;
    right: 15%;
    width: calc(80% - 500px);
    height: 40px;
    display: flex;
    flex-direction: row-reverse;
    border-bottom: 1px solid rgba(178, 178, 178, 0.6);
}

.sorting-tab select{
    border: none;
    background-color: transparent;
    height: 30px;
    outline: none;
    cursor: pointer;
}

.sorting-tab span{
    display: inline-block;
    height: 30px;
    line-height: 30px;
}

.filter-tab{
    grid-column: 2;
    grid-row: 1;
    position: fixed;
    top: 100px;
    left: 10%;
    width: 300px;
    padding-bottom: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(178, 178, 178, 0.6);
    border-radius: 10px;
    height: auto;
}
.filter-tab ul{
    list-style-type: none;
}

.filter-tab nav div{
    width: 300px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    padding-left: 70px;
    user-select: none;
    cursor: pointer;
}

.filter-tab nav div:hover{
    color: skyblue;
}

.filter-tab > div:first-child{
    font-size: 20px;
    margin: 20px;
    margin-bottom: 10px;
    width: calc(100% - 40px);
    padding-left: 10px;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid rgba(178, 178, 178, 0.6);
}

.filter-tab ul{
    font-size: 20px;
}
.filter-tab ul ul{
    font-size: 18px;
    padding-left: 20px;
}

.product-container{
    grid-column: 3;
    grid-row: 1;
    margin-top: 80px;
    grid-column: 3;
    display: grid;
    grid-template-columns: auto 33% 33% 33% auto;
    grid-gap: 10px;
    width: 100%;
}

.product-container > div{
    width: 100%;
    min-height: 100px;
    background-color: transparent;
    overflow: hidden;
}

.col-1{
    grid-column: 2;
}

.col-2{
    grid-column: 3;
}

.col-3{
    grid-column: 4;
}

.product-item{
    height: auto;
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid rgba(178, 178, 178, 0.4);
    border-radius: 10px;
    position: relative;
}
.product-item img{
    width: 100%;
    cursor: pointer;
}

.product-item:hover > div:nth-child(2){
    opacity: 1;
}

.product-item > div:nth-child(2){
    cursor: pointer;
    font-size: 1.3pc;
    padding: 20px;
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    display: flex;
    flex-direction: column-reverse;
    color: white;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 1s;
}

.product-item > div > p:first-child{
    padding-right: 10%;
    text-align: right;
}

.product-item > div:last-child{
    width: 100%;
    height: 100%;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.disabled {
    opacity: 0.3;
}

/*---------------------------------------------------------*/

.item-tab{
    position: fixed;
    width: 100vw;
    height: calc( 100vh - 70px);
    background-color: #F5F3F3;
    top: 70px;
    left: 0;
    z-index: 2;
}

.item-tab-header{
    margin-top: 10px;
    width: 70%;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    display: grid;
    grid-template-columns: auto 200px;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    border-bottom: 1px solid lightgray;
}

.item-tab-header > div{
    font-size: 26px;
}

.item-tab-container{
    background-color: white;
    width: 70%;
    height: calc(100% - 100px);
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    overflow: hidden;
}

.item-tab-container{
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 60% 40%;
    grid-template-areas: "img info"
                         "description description";
    gap: 10px;
}


.item-img{
    grid-area: img;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.item-img img{
    display: block;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
}

.item-information{
    grid-area: info;
    width: 80%;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 10% 15% 10% 45%;
    grid-template-areas: "iname iname"
                         "pr qu"
                         "siz siz"
                         "quchu quchu"
                         "ibtn ibtn";
    gap: 10px;
    align-items: center;
}

.item-information > div{
    font-size: 22px;
}

.item-information > div:first-child{
    grid-area: iname;
    font-size: 26px;
    font-weight: bold;
}


.item-information > div:nth-child(2){
    grid-area: pr;
}

.item-information  > div:nth-child(3){
    grid-area: qu;
}

.item-information > div:nth-child(4){
    grid-area: siz;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 100px auto;
    align-items: center;
}
.item-information > div:nth-child(4) > div:nth-child(2){
    display: flex;
    wrap-option: wrap;
    width: 80%;
    gap: 10px;
}

.size-button{
    width: 50px;
    height: 40px;
    border: 1px solid lightgray;
}

.size-button:hover{
    border-color: skyblue;
    color: skyblue;
    cursor: pointer;
}

.size-chosen-btn{
    border-color: deepskyblue;
    color: deepskyblue;
}

.item-information > div:nth-child(5){
    grid-area: quchu;
    display: grid;
    grid-template-columns: 100px 50px 20px 50px auto;
    align-items: center;
    text-align: center;
}

.item-information > div:nth-child(6){
    grid-area: ibtn;
    display: grid;
    grid-template-columns: 30% 50% auto;
}


.item-description{
    padding: 40px;
    grid-area: description;
}

.item-description > div:first-child{
    width: 50%;
    margin-left: 15px;
    height: 50px;
    font-size: 22px;
    border-bottom: 1px solid lightgray;margin-bottom: 10px;
    line-height: 50px;
}
/*-----------------------------------*/

.loading-icon{
    position: relative;
    grid-row: 2;
    grid-column: 3;
    width: 100%;
    height: 70px;
    color: gray;
    text-align: center;
    line-height: 70px;
}

.loading-icon div:last-child{
    text-align: center;
}

.loading-icon svg{
    width: 70px;
    position: absolute;
    left: 50%;
    opacity: 0.6;
    display: none;
}

.loading-icon svg:first-child{
    animation: spin 1s infinite linear;
}

.loading-icon svg:nth-child(2){
    animation: spin 2.5s infinite ease-out;
}

.loading-1,.loading-2{
    fill:none;stroke-linecap:round;stroke-miterlimit:10;
}
.loading-1{
    stroke:aqua;stroke-width:16px;
}
.loading-2{
    stroke:#ff7bac;stroke-width:9px;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.show-loading-icon svg{
    display: block;
}
.noti{
    display: block;
}

.hidden{
    display: none;
}

.active-btn{
    color: pink;
}